@{
    ViewBag.Title = "Okulda Başarı - Düşüncelerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="icerikkpsul">
    <div class="icerik" style="margin-left: 30px">
         <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Bilişsel Beceriler ve Zeka", "BilisselBecerilerveZeka")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Başarıyı Engelleyen Etkenler", "BasariyiEngelleyenEtkenler")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Bilişsel Becerileri Geliştirme Alıştırmalarının Faydaları", "BilisselBecerilerinFaydalari")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Konuşmayı Becerebilenler Matematik Problemlerini de Çözerler", "KonusanMatematikProblemlerinideCozer")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Kompozisyon Yazmak ve Zihinsel Beceriler", "KompozisyonYazmakveZihinselBeceriler")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Dünden Bugüne", "DundenBugune")
        </div>
        <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Saygıdeğer öğretmenlerimiz;", "SaygidegerOgretmenlerimiz")
        </div>
         <div class="kitapbaslik" style="margin-left: 5px">
            @Html.ActionLink("Sayın Anneler,Sayın Babalar,", "SayinAnnelerSayinBabalar")
        </div>
       
    </div>
</div>